<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピ一覧</title>
</head>
<body>
	<form method="post">
		<input type="text" name="serchWord" th:value="${servhWord}" /> <input
			type="submit" value="SEARCH" />
	</form>
	<br />
	<div th:if="${resultSize > 0}">
		<label th:text="${resultSize}"></label>件
	</div>
	<tbody>
		<tr th:each="recipe:${recipeList}">
			<a href="detail" th:href="@{detail(id=${recipe.id})}">
			<td th:text="${recipe.title}" />
			</a>
			<td th:text="${recipe.description}" />
		</tr>
	</tbody>
</body>
</html>